<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>文章管理</title>
    <link rel="stylesheet" type="text/css" href="/myblog/View/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/myblog/View/css/style.css">
    <link rel="stylesheet" type="text/css" href="/myblog/View/css/chartist-custom.css">
    <link rel="stylesheet" type="text/css" href="/myblog/View/css/main.css">
    <link rel="stylesheet" type="text/css" href="/myblog/View/css/demo.css">
    <link rel="stylesheet" type="text/css" href="/myblog/View/css/manage.css">
    <link rel="stylesheet" type="text/css" href="/myblog/View/css/layer.css">
    <link rel="stylesheet" type="text/css" href="/myblog/View/css/yaoli.css">
</head>
<body style="background-color: #0A0A0A">
<div id="wrapper" style="overflow: hidden;margin: auto;">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="index.html"><img src="" alt="Klorofil Logo" class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn" style="margin-top: -10px">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                <span style="margin-left: 145px;font-size: 41px;letter-spacing:100px;">后台管理</span>
            </div>
            <div></div>
            <div class="navbar-btn navbar-btn-right">
                <a class="btn btn-success update-pro" href="/myblog/index.php/Load/sugnOut" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>退出管理</span></a>
            </div>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" style="margin-right:80px">
                    <li>
                        <a href="/myblog/index.php/Main/yaolipage" class="dropdown-toggle"><i class="lnr lnr-question-circle"></i> <span>首页</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="/myblog/index.php/Artical/selectart" class="dropdown-toggle"><i class="lnr lnr-question-circle"></i><span>美文欣赏</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="/myblog/index.php/Images/mypic" class="dropdown-toggle"><i class="lnr lnr-question-circle"></i><span>相册</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="/myblog/index.php/Speachs/speach" class="dropdown-toggle"><i class="lnr lnr-question-circle"></i><span>留言</span> </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="sidebar-nav" class="sidebar" style="margin-top: 3%">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li  style="line-height: 80px"><a href="/myblog/index.php/Artical/mainpage" class=""><i class="lnr lnr-home"></i> <span style="margin-left: 1%">文章管理</span></a></li>
                    <li style="line-height: 80px">
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span style="margin-top: 1%">每日一言</span><i class="icon-submenu lnr lnr-chevron-left" style="margin-top: 30px;"></i></a>
                        <div id="subPages" class="collapse ">
                            <ul class="nav">
                                <li><a href="/myblog/index.php/Dary/semydary?id=0" class="">我的名言</a></li>
                                <li><a href="/myblog/index.php/Dary/semydary?id=1" class="">作家名言</a></li>
                            </ul>
                        </div>
                    </li>
                    <li   style="line-height: 80px"><a href="/myblog/index.php/Images/realimg" class=""></i><i style="margin: 0" class="lnr lnr-file-empty"></i><span style="margin-left: 7%">相册管理</span></a></li>
                    <li id="color"style="line-height: 80px"><a href="/myblog/index.php/Speachs/respeach" class=""><i class="lnr lnr-cog"></i> <span style="margin-left: 2%">留言管理</span></a></li>
                    <li style="line-height: 80px"><a href="/myblog/index.php/Main/information" class=""><i class="lnr lnr-alarm"></i> <span style="margin-left: 1%">信息管理</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="preserve" style="margin-top: 9%;margin-right: 3%">
        <div class="wrap-box">
            <div class="cube">
                <div class="out-front"></div>
                <div class="out-back"></div>
                <div class="out-left"></div>
                <div class="out-right"></div>
                <div class="out-top"></div>
                <div class="out-bottom"></div>
                <span class="in-front"></span>
                <span class="in-back"></span>
                <span class="in-left"></span>
                <span class="in-right"></span>
                <span class="in-top"></span>
                <span class="in-bottom"></span>
            </div>
        </div>
    </div>
    <div class="font" style="margin-top: 9%;height: 200px">
        <span style="font-family: 'Eras Light ITC';font-size: 49px;margin-left: 420px">
            致——终将逝去的"寄语"！
            <p style="font-family: 幼圆;font-size: 40px;margin-left: 612px;margin-top: 30px;">
                神马都是浮云......不是吗？
            </p>
        </span>
    </div>
    <div class="speach" style="height:auto;border: 1px solid;box-shadow: 0 0 10px #fff;margin: 0 auto; width: 60%;">
        <p class="title" style="font-size: 20px;text-align:center;margin-top: 40px">一起来吐槽我吧！哈哈哈哈哈哈哈哈哈哈</p>
        <ul style="margin-top: 32px;color:#fff;padding: 0 2px 50px 50px;">
            <?php
            for($i=0;$i<count($text2);$i++){
                echo '<li class="comment-li" style="list-style-type:none">
            <div class="md-comment">
                <div >
                    <a>'.$text2[$i][2].':</a>
                    <p style="word-wrap: break-word;max-width: 800px;">
                        '.$text2[$i][3].'
                                       </p>
                    <div class="comment-up" >
                        <p style="margin-top:10px">'.$text2[$i][4].'</p>
                        <a class="upcolor" style="margin-top: 12px;cursor: pointer;" rel="'.$text2[$i][1].'"  onclick="manareply('.$text2[$i][0].','.$text2[$i][1].')" id="'.$i.'">回复</a>
                        <a class="downcolor" style="margin-top: 12px;cursor: pointer;" rel="'.$text2[$i][0].'" onclick="delatespeach('.$text2[$i][0].',2,this)">删除</a>
                    </div>
                </div>
            </div>';
            $count=(count($text2[$i])-1);
            for($j=0;$j<count($text2[$i][$count]);$j++){
            echo '<div class="down-comment" style="margin-left:80px;margin-top: 30px">
            <ul>
                <li class="comment-item" style="list-style-type:none">
                    <div class="comment-bd">
                        <div class="comment-content">
                            <a >'.$text2[$i][$count][$j][1].'</a>
                            <span>
                                                        <span>回复</span>
                                                        <a>'.$text2[$i][$count][$j][2].'</a>
                                                    </span>
                            :
                            <p style="word-wrap: break-word;max-width: 800px;">'.$text2[$i][$count][$j][3].'</p>
                            <div comment-op>
                                <p style="margin-top:10px">'.$text2[$i][$count][$j][5].'</p>
                                <a class="downcolor"; id="'.$j.'";rel="'.$text2[$i][0].'"style="margin-top:12px;color:yellow;cursor: pointer;" onclick="manareply('.$text2[$i][0].','.$text2[$i][$count][$j][0].')" >回复</a>
                                <a class="downcolor" style="margin-top:12px;color: #dd0000;cursor: pointer;" rel="'.$text2[$i][0].'" onclick="delatespeach('.$text2[$i][$count][$j][4].',2,this)">删除</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>';
            }
            echo '</li>';
            } ?>
        </ul>
    </div>
    <div class="modal fade" id="model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false"style="color: #0A0A0A">
        <div class="modal-dialog">
            <div class="modal-content" style="width:470px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="emptys()">&times;</button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align: center;">其实你不懂我的心</h4>
                </div>
                <div class="modal-body" style="height: 262px;">
                    <p  style="margin-top: 20px">我的回复</p>
                    <textarea class="incont" style="width: 436px;display: block; height: 121px;" maxlength="200px" id="textid"></textarea>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closes" data-dismiss="modal" onclick="emptys()">关闭窗口</button>
                        <button type="button" class="btn btn-primary manarelpy" onclick="manasend(this,2)">回复</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 45px;text-align: center;font-size: 20px;color: #fff;">
        <p>
            <span>Design by：坏小哥</span>
            <span>备案号：<strong>商丘123456789</strong></span>
        </p>
    </div>
</div>
<script src="/myblog/View/js/jquery-3.2.1.js"></script>
<script src="/myblog/View/js/jquery.min.js"></script>
<script type="text/javascript"charset="UTF-8" src="/myblog/View/js/layer.js"></script>
<script src="/myblog/View/js/bootstrap.min.js"></script>
<script src="/myblog/View/js/jquery.slimscroll.min.js"></script>
<script src="/myblog/View/js/jquery.easypiechart.js"></script>
<script src="/myblog/View/js/chartist.min.js"></script>
<script src="/myblog/View/js/klorofil-common.js"></script>
<script src="/myblog/View/js/speach.js"></script>
<script src="/myblog/View/js/yaoli.js"></script>
<script>
    $.wrapBox();
</script>
<script>changenavco()</script>
</body>
</html>